body{
    background-color: rgb(104, 2, 2);
}

h1 {
    margin-right:  auto;
    margin-left: auto;
    width: 600px;
    text-align: center;
    background-color:  white;
    border-radius: 10px;
    border: 5px solid black;
}

#all {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    padding: 1em;
    border-radius: 10px;
    background-color: white;
    border: 3px solid black;
}

h2 {
    color: rgb(104, 2, 2);
    border-bottom: 5px double;
}